[user]
	email = keep.forward1001@gmail.com
	name = hayapo
[init]
	defaultBranch = main

[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[core]
	excludesfile = /Users/hayapo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/hayapo/.stCommitMsg
